
<div class="cell grid-x grid-padding-x grid-padding-y align-center">
    @for (int i = 97; i < 123; i++)
    {
        <a class="button secondary zdv-border-light" asp-route-q="@((char)i)">@((char)i)</a>
    }
</div>

<div class="cell grid-x grid-padding-x grid-padding-y align-center zdv-border">
    <div class="cell grid-y align-center large-4 medium-6 small-12">
        <div id="glossary-title" class="cell medium-auto grid-x grid-padding-x align-center margin-top-3"><h1>JGU Glossar</h1></div>


        <form class="grid-x grid-padding-x align-center">
            <div class="input-group" id="input-group-start">
                <input type="text" class="input-group-field" autofocus name="q" placeholder="Bitte Begriff eingeben" />
                <div class="input-group-button">
                    <input type="submit" class="button" value="Suchen" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="cell grid-x grid-padding-x grid-padding-y align-center">
    @for (int i = 97; i < 123; i++)
    {
        <a class="button secondary zdv-border-light" asp-route-q="@((char)i)">@((char)i)</a>
    }
</div>