<ul class="nav navbar-nav navbar-right">
    <li>
        @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "! " + ((Dictionary<string, DateTime>)System.Web.HttpContext.Current.Application["loggedinusers"]).Count, "Index", "Home", routeValues: null, htmlAttributes: new { title = "Authotization" })*@
        @*@User.FindFirst(ClaimTypes.NameIdentifier).Value + "! "*@
        @*<a href="">esideris</a>*@    

        <img src="~/Kubus_ZDV_JGU-rgb.png" height="45" title="ZDV UNI-Mainz" width="80" alt="ZDV UNI-Mainz" />
    </li>
        
    @*<li>
        <a data-onlineuser="1"></a>
    </li>*@
</ul>
 